/**
 * CSS for DokuCMS Template
 *
 * @author Andreas Gohr <andi@splitbrain.org>
 * @author Anika Henke <anika@selfthinker.org>
 * @author moraes <moraes@tipos.com.br>
 * @author Klaus Vormweg <klaus.vormweg@gmx.de>
 */




html,body {
    height:100%;
}
* {
/*    border:0; */
    font-family:Verdana, Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
}
img {
    border:0;
}
sup, sub {
    font-size: 0.8em;
}
body {
    background:__background_image__;
    color:#000000;
    font-size:.6875em;
    line-height:1em;
    overflow:-moz-scrollbars-vertical; /* Keine Spruenge im FF */
    overflow-y: scroll;
}
html>/**/body {
    overflow-x: auto;
}

/* Farben der allgemeinen Links */
a:link,a:active,a:visited {
    color:__existing__;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}
/* Wrapper */
div#wrapper {
    background:__wrapper__;
    width: 1015px;
    height:auto !important;
    min-height: 100%; 
    margin: 0px auto;
    position:relative;
    left:-12px;
}
* html div#wrapper {
    background:__wrapper__;
}


/* Linke Spalte */
div#left-row {
    float:left;
    margin-right:5px;
    width:181px;
}

/* Rechte Spalte */
div#right-row {
    display:none;
    float:right;
    width:199px;
}

/* mittlere Spalte */
div#middle-row, .inline, {
    font-size: 1em;
    background-color: #FFF;
    padding: 10px;
    float: left;
    width: 760px;
    height: 100%;
}

/* Container */
div#container {
    padding-bottom:53px;
    margin-left: 16px;
    border-left:2px #fff solid;
    width:979px;
    height:100%;
    min-height:550px;
}

/* Formatierungen fuer Content */
div#content {
    color:#000000;
    background-color:#ffffff;
    line-height:1.45em;
    margin:-3px 0 19px;
    height: 100%;
}

/* Spacer */
div.spacer {
    background-color:#e5e5e5;
    border-left:2px #fff solid;
    border-right:2px #fff solid;
    clear:both;
    height:10px;
    margin-left: 16px;
    width:979px;
}

/* Clear'er */
.clear {
    clear:both;
    height:0;
    overflow:hidden;
}

/* Metanavigation */
div#metanavigation {
    padding-right:19px;
    position:absolute;
    z-index:2;
    font-size:.9091em;
    height:2.5455em;
    line-height:2.5455em;
    text-align:right;
    width:980px;
}

div#metanavigation a:link,
div#metanavigation a:active,
div#metanavigation a:visited,
div#metanavigation .btn_admin button,
div#metanavigation .btn_profile button,
div#metanavigation .btn_login button,
div#metanavigation .btn_logout button {
    color:#4D4D4D;
    text-decoration:none;
    text-transform:uppercase;
}

div#metanavigation a + a:before,
div#metanavigation .btn_admin button:before, 
div#metanavigation .btn_profile button:before, 
div#metanavigation .btn_login button:before,
div#metanavigation .btn_logout button:before {
    color: #4D4D4D;
    content: " | ";
}

div#metanavigation a:hover .btn_login button,.btn_logout button {
    text-decoration:underline;
}

/* Head */
div#head {
    height:108px;
    width:1015px;
    background-color:#ffffff;
    padding-top: 8px;
}

div#logo {
    background-color:#fff;
    float:left;
    height:108px;
    width:204px;
}

div#head-image {
    background:__imgblend__ 0 0 no-repeat; 
    float:left;
    height:108px;
    width:811px;
}

div#head-text {
    background-color:#fff;
    float:left;
    font-size:.9091em;
    font-weight:700;
    height:33px;
    line-height:1.25em;
    margin-top:74px;
    overflow:hidden;
}

.big_font{
    font-size:1.09em !important;
    height:27px !important;
    padding-top:6px;
}

div#head-text-corner {
    background:url(images/head_text_corner.png) 0 0 no-repeat;
    float:left;
    height:33px;
    margin-top:74px;
    width:15px;
}

div#head-text a {
    background:#fff;
    color:#000000;
    display:block;
    line-height:1.25em;
    padding:4px 0 4px 10px;
    text-decoration:none;
}

/* Footer */
div#footer-container {
    height:53px;
    left:0;
    position:absolute;
    width: 1015px;
    background:__footer_image__;
    bottom:0;
}
* html div#footer-container {
    background:#ffffff url(images/bg_footer_V2.gif) left top no-repeat;
}
div#footer {
    height:23px;
    width: 1015px;
    }
div#footer-text {
    font-size:.8182em;
    height:21px;
    float:left;
    width:965px;
}
div#footer-corner {
    display: none;
}
div#footer-content {
    border-top:1px __border__ solid;
    height:20px;
    line-height:2.2727em;
    margin-left:26px;
    width:100%;
    }
div#footer-content a:link,div#footer-content a:active,div#footer-content a:visited {
    color:#808080;
    text-decoration:none;
    text-transform:uppercase;
}
div#footer-content a:hover {
    text-decoration:underline;
}
.footer-left {
    float:left;
    margin-right:15px;
}
.footer-right {
    float:right;
}

/* last changed */
div#owner {
    height:15px;
    text-align:left;
        margin:5px auto 0;
    width:1015px;
    }
span#owner-text {
    color:#4D4D4D;
    padding-left:32px;
    font-size:.82em;
    line-height:1.5em;
}
span#owner-text a {
    color:#4D4D4D;
}


/* tables */
.table {
    display: inline-block;
    width:100%;
}
table.inline {
    color: #000;
    line-height: 1.3em;
    margin-bottom: 10px;
    width: 760px;
    border-spacing: 0px;
    border-collapse: collapse;
}

table.inline th {
    background-color: #808080;
    border-bottom: 1px solid #FFF;
    color: #FFF;
    font-weight: 700;
    height: auto;
    line-height: 20px;
    padding: 0px 6px;
    text-align: left;
}

table.inline tbody td {
    padding: 4px 0px 4px 5px;
    vertical-align: top;
}

table.inline tbody tr:hover td {
    background-color: #D9EFEC;
    cursor:pointer;
}

table.inline tbody tr:nth-child(odd) {background: #E5E5E5}
table.inline tbody tr:nth-child(even) {background: #FFF}

table.inline .wikilink1,
table.inline .mail {
font-weight: 700;
background: transparent url("images/arrow_dunkelgruen.gif") no-repeat scroll 0px 0.36em;
color: #009682;
padding-left: 5px;
}

table.inline .wikilink2 {
font-weight: 700;
background: transparent url("images/arrow_dunkelgruen.gif") no-repeat scroll 0px 0.36em;
color: #009682;
padding-left: 5px;
border-style-bottom:dotted;
}

/* tables end */

/* Labels */
h1 {
    border-bottom:1px solid #ccc;
    color:#000000;
    font-size:1.27em;
    margin:-1px 0 14px;
    padding-bottom:10px;
    padding-top:10px; /* neu */
    line-height:16px;
}
h1.caption {
    background-color:#e5e5e5;
    color:#000000;
    font-weight:700;
    font-size:1em;
    height:auto;
    padding-left:6px;
    text-align:left;
    margin-bottom:0px;
    border-bottom: none;
    padding-bottom: 6px;
    padding-top: 6px;
}
h2 {
    color:#000000;
    font-size:1.0909em;
    font-weight:700;
    line-height:16px;
    margin:0;
    padding-top:8px;
    padding-bottom:8px;
}
h3 {
    color:#808080;
    font-size:1.0909em;
    font-weight:700;
    line-height:16px;
    margin:0;
    padding-bottom:8px;
}
h4 {
    background:url(images/headline_bg.gif) center left repeat-x;
    font-size:1em;
    height:1.45em;
    margin-bottom:5px;
}
html>/**/body h4:first-line * { /* Achtung ohne * stuerzt IE8 ab bei H4 mit einem leeren Span darin! */
    background-color:#ffffff;
}
h5 {
    color:#000000;
    font-size:1em;
    margin:-1px 0 14px;
    line-height:16px;
}

/*end labels */


/* Formulars */
/* no linebreak after formulars */
form {
    display:inline;
    margin:0;
    display:inline;
}

input, textarea {
    border:1px solid __border__;
    margin:1px;
}
form fieldset {
    border:1px solid __border__;
    padding: 0.5em;
}
form fieldset legend {
    margin: 0 0.5em 0;
    padding: 0 0.5em 0;
    font-weight: bold;
    font-size:1.2em;
    line-height:1.2em;
    color: #000000;
    float: left;
}
form label {
    padding-left: 0.5em;
    padding-right: 1em;
}
form input {
    vertical-align:middle;
}

form input[type="submit"] {
    background: linear-gradient(to bottom, #009682 0%, #b3e0da 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 8px 0;
    border-color: #808080;
    color: #ffffff;
    font-weight: bold;
    padding: 2px 5px;
}
form input[type="submit"]:hover {
    color: #000000;
}
input,textarea, select {
    background-color:#fff;
    border:1px __border__ solid;
    font-size:1em;
    font-weight:400;
    margin-bottom:6px;
}
form label {
    float:left;
    font-weight:700;
}
form br {
    clear:left;
}

/* **************** */
/* LINKE NAVIGATION */
/* **************** */
.external_sidebar {
    padding-top: 20px;
}

#menu-box .dynaminc {
    margin: 0;
    margin-left: -2px;
    margin-top: 0px;
    padding: 0;
    width: 178px;
    font-family: verdana;
    font-size:.9091em;
    color: #000000;
    overflow: hidden;
}
#menu-box .dynaminc ul {
    margin: 0;
    border: 0;
    padding: 0;
    list-style-type: none;
}

#menu-box .dynaminc .curid {
    text-decoration: none;
    font-weight: 700 !important;
}

#menu-box .dynaminc a:hover {
    text-decoration: underline;
}

#menu-box .dynaminc a {
    margin-top: 4px;
    padding: 3px 5px 3px 15px;
    display: block;
}

#menu-box .dynaminc ul.idx li.open div.li a.wikilink2, 
#menu-box .dynaminc ul.idx li.open div.li a.wikilink1 {
    font-weight: 700;
    color: #ffffff;
    background-color: #009682;
    display: block;
    background-image: url(images/navi_level_1_open.gif);
    background-repeat: no-repeat;
    background-position: 6px 8px;
}

#menu-box .dynaminc ul.idx li.closed div.li a.wikilink2, 
#menu-box .dynaminc ul.idx li.closed div.li a.wikilink1 {
    color:#808080;
    background-color: #ffffff;
    display: block;
    background-image: url(images/navi_level_1_closed.gif);
    background-repeat: no-repeat;
    background-position: 6px 8px;
}
#menu-box .dynamic li.level4 a.wikilink2, 
#menu-box .dynamic li.level4 a.wikilink1, 
#menu-box .dynamic li.level3 a.wikilink2, 
#menu-box .dynamic li.level3 a.wikilink1, 
#menu-box .dynamic li.level2 a.wikilink2, 
#menu-box .dynamic li.level2 a.wikilink1 {
    font-weight:100 !important;
    color: #000 !important;
    background-image:none !important;
    background-color: #D9EFEC !important;
}

#menu-box .dynaminc .open, 
#menu-box .dynaminc .closed,
#menu-box .dynaminc .level1 {
    background-image: url(images/left_navi_V2.gif);
    background-position: right bottom;
    background-repeat: no-repeat;
    display: block;
    background-color: #ffffff;
    padding: 2px;
    margin: 4px;
    padding-right: 1px;
    margin-right: 0px;
}

#menu-box .dynaminc .open .idx {
    padding: 1px;
    margin: 2px;
    background-color: #D9EFEC;
    padding-right: 0px !important;
    margin-right: 0px !important;
}

.idx ul > .closed li,
.idx ul > .open li {
    background-image: none !important;
}


#menu-box a.wikilink1, 
#menu-box a.wikilink2,
#menu-box a.urlextern {
  font-weight:700;
  color: #808080;
  text-decoration: none !important;
  border-bottom: none !important;
}

#menu-box .dynaminc .li_level_1_selected_no_children {
    padding-bottom: 5px;
    background-image: url(images/left_navi_V2.gif);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-color: #009682;
}

#menu-box .dynaminc .li_level_1_selected_children ul {
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    padding-bottom: 1px;
}
#menu-box .dynaminc .li_level_1_selected_children ul li ul{
    border-left: 0;
    border-right: 0;
    padding-bottom: 0;
}

#menu-box .dynaminc .li_has_child {
    background-color: #d9efec;
}
#menu-box .dynaminc .level_1_not_selected {
    margin-top: 4px;
    border: 2px solid #ffffff;
    background-color: #ffffff;
    color:#808080; 
    /* color: #808080; */
    font-weight:700;
}

#menu-box .dynaminc .selected {
    margin: 0px;
    border-bottom: 2px solid #ffffff;
    color: #000000;
    /* color: #000000; */
    background-color: #b3e0da;
    font-weight: 700;
}
#menu-box .dynaminc .has_no_children {
    padding-bottom: 0;
    border-bottom: 0;
}
#menu-box .dynaminc .has_children_open {
    background-image: url(images/navi_level_1_open.gif);
    background-repeat: no-repeat;
    background-position: 6px 8px;
}
#menu-box .dynaminc ul li ul li .has_children_open {
    background-image: url(images/navi_open.gif);
}
* html #menu-box .dynaminc ul li .has_children_open {
    background-position: 8px 10px;
}
* html #menu-box .dynaminc ul li ul li .has_children_open {
    background-position: 8px 8px;
}
#menu-box .dynaminc .has_children_closed {
    /* padding-bottom: 0; */
    border-bottom: 0;
    background-image: url(images/navi_level_1_closed.gif);
    background-repeat: no-repeat;
    background-position: 6px 6px;
}
#menu-box .dynaminc ul li ul li .has_children_closed {
    background-image: url(images/navi_closed.gif);
}
* html #menu-box .dynaminc ul li .has_children_closed {
    background-position: 8px 8px;
}
* html #menu-box .dynaminc ul li ul li .has_children_closed {
    background-position: 8px 6px;
}
#menu-box .dynaminc .item_not_selected {
    margin: 0;
    margin-left: 10px;
    /* padding-bottom:0; */
    color: #000000;
    /* color: #000000; */
    font-weight: 400;
}
#menu-box .dynaminc .item_selected {
    margin: 0;
    margin-left: 10px;
    color:#000000;
    font-weight: 700;
}

/* statische navi */

#menu-box .file {
    margin: 0;
    margin-left: -2px;
    margin-top: 0px;
    padding: 0;
    width: 178px;
    font-family: verdana;
    font-size:.9091em;
    color: #000000;
    overflow: hidden;
}
#menu-box .file ul {
    margin: 0;
    border: 0;
    padding: 0;
    list-style-type: none;
}

#menu-box .file .curid {
    text-decoration: none;
    font-weight: 700 !important;
}

#menu-box .file a:hover {
    text-decoration: underline;
}

#menu-box .file a {
    margin-top: 4px;
    padding: 3px 5px 3px 15px;
    display: block;
}

#menu-box .file .level1 div.li .curid a.wikilink2, 
#menu-box .file .level1 div.li .curid a.wikilink1 { 
    font-weight: 700;
    color: #ffffff;
    background-color: #009682;
    display: block;
}

#menu-box .file .level2 div.li .curid a.wikilink2, 
#menu-box .file .level2 div.li .curid a.wikilink1 { 
    font-weight: 700;
    display: block;
    background-color:#D9EFEC;
    color: #000000;
}

#menu-box .file .level1 .li {
    background-image: url(images/left_navi_V2.gif);
    background-position: right bottom;
    background-repeat: no-repeat;
    display: block;
    background-color: #ffffff;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 4px;
    margin-right: 0px;
}

#menu-box .file .level2 .li {
    display: block;
    background-image: none !important;
    background-color:#D9EFEC;
    padding-right: 15px;
    margin-right: 4px;
    font-weight: 100 !important;
    color: #000000;
}

#menu-box .file .level2 .li a.wikilink1, 
#menu-box .file .level2 .li a.wikilink2,
#menu-box .file .level2 .li a.urlextern {
  font-weight:400;
  color: #000;
}

#menu-box .file .level1 ul { 
    background-color:#D9EFEC;
    margin-left: 4px;
}

#menu-box .file .node { 
    background-color:#fff;
    margin-left: 4px;
    padding-right: 4px;
    padding-bottom: 1px;
}



/* Suche */
div#suchen {
    margin:0 0 10px 5px;
    padding:1px;
    background-color:#fff;
    border: 1px solid __border__;
    height: 15px;
    width:169px;
}
div#suchen input[type="text"] {
    margin:0;
    border:0;
    border-right:1px solid __border__;
    padding:1px 0 0 0;
    float:left;
    height:14px;
    width:106px;
    font-size:0.9091em;
}
div#suchen button {
    margin:0;
    border: 0;
    padding: 0;
    float:left;
    font-size:0.9091em;
    font-weight: bold;
    color: #009682;
    background-color: #fff;
    text-transform: uppercase;
    height: 14px;
    width: 60px;
    cursor: pointer;
}



/* RESCALING */

@media only screen and (max-width: 20px) {
    body {
        background: none !important;
    }
    div#metanavigation {
        width: 100%;
        padding-right: 0;
    }
    div.spacer {
        width: auto;
        margin:0 1%;
        border:0;
    }
    div#head {
        width:100%;
        height:auto;
    }
    div#logo {
        width:20.1%;
        height:auto;
    }
    div#logo img{
        width:100%;
    }
    div#head-image {
        width:79.9%;
        background-size:100%;
        height:auto;
    }
    div#head-text {
        margin-top: 9.6%;
        /* float:none; */
    }
    div#head-text a {
        padding-right:5px;
    }
    div#head-text-corner {
        display:none;
    }
    body>div#wrapper {
        background: none;
        width: auto;
        left: 0px;
    }
    div#container {
        width: auto;
        border-left: 0;
        margin-left: 0;
    }
    div#content {
        margin:0;
        word-wrap:break-word;
    }
    div#left-row {
        width:98%;
        background-color: #e5e5e5;
        margin: 0 1%;
    }
    div#menu-box {
        width: auto;
        font-size: 1em;
        clear:both;
    }
    div#suchen {
        float: right;
        margin-right: 5px;
    }

    div#middle-row {
        float:left;
    }
    div#middle-row, table.inline {
        width:98%;
        margin: 0 1%;
        padding:0;
        height:100%;
    }
    div#right-row {
        display: none;
    }
    div#footer-container {
        width: 100%;
        background: none;
    }
    div#footer {
        width: 98%;
        margin: 0 1%;
    }
    div#footer-text {
        width: 100%;
    }
    div#footer-content {
        width: auto;
        margin-left:0;
    }
    div#owner {
        width: 98%;
        margin: 5px 1% 0;
    }
    span#owner-text {
        padding-left: 0;
        margin-right: 0 !important;
    }
}
@media only screen and (max-width: 604px) {
    div#head-text {
        display: inline;
        float:none;
    }
    div#head-text a {
        line-height: 1.65em;
    }
}
@media only screen and (max-width: 521px) {
    div#logo {
        width: 120px !important;
        margin-top: 18px;
    }
    div#logo img {
        left: -11px;
        top: -11px;
        width: 136px !important;
    }
    div#head-image {
        margin-left: 120px !important;
        height:102px !important;
    }
}
@media only screen and (max-width: 943px) and (min-width: 522px) {
    div#logo {
        margin-top: 4px;
    }
    div#logo img {
        top: -16px;
        left: -16px;
        height: 108px !important;
        width: 204px !important;
    }
    div#head-image {
        height:108px !important;
        margin-left: 188px;
    }
}
@media only screen and (max-width: 943px) and (min-width: 21px) {
    .inline {
        word-wrap: break-word !important;
    }
    .big_font {
        height:auto !important;
    }
    body {
        background: none !important;
    }
    div#metanavigation {
        width: 100%;
        padding-right: 0;
    }
    div.spacer {
        width: auto;
        margin:0 0%;
        border:0;
    }
    div#head {
        width:100%;
        height:auto;
        overflow:hidden;
    }
    div#logo {
        s_width:188px;
        height:auto;
        overflow:hidden !important;
    }
    div#logo img{
        position:relative;
    }
    div#head-image {
        background-size:100%;
        height:auto;
        float:none;
        margin-left: 188px;
        background-position: 0px -18px;
        border-top: 14px solid #ffffff;
    }
    div#head-text {
        margin-top: 9.6%;
        /* float:none; */
    }
    div#head-text a {
        padding-right:5px;
    }
    div#head-text-corner {
        display:none;
    }
    body>div#wrapper {
        background: none;
        width: auto;
        left: 0px;
    }
    div#container {
        width: auto;
        border-left: 0;
        margin-left: 0;
        height: 100% !important;
    }
    div#content {
        margin:0 1%;
        word-wrap:break-word;
    }
    div#left-row {
        width:100%;
        background-color: #e5e5e5;
        margin: 0 0%;
    }
    div#menu-box {
        width: auto;
        font-size: 1em;
        clear:both;
    }
    div#suchen {
        float: right;
        margin-right: 5px;
    }
   div#middle-row {
        float:left;
    }
    div#middle-row, table.inline {
        width:100%;
        height:100%;
        margin: 0;
        padding:0;
    }
    div#footer-container {
        width: 100%;
        background: none;
    }
    div#footer {
        width: 98%;
        margin: 0 1%;
    }
    div#footer-text {
        width: 100%;
    }
    div#footer-content {
        width: auto;
        margin-left:0;
    }
    div#owner {
        width: 98%;
        margin: 5px 1% 0;
    }
    span#owner-text {
        padding-left: 0;
        margin-right: 0 !important;
    }
}


@media print {
    * {
        background:none !important;
        /* width:auto !important; */
        position:static !important;
        height:auto !important;
        /* float: none !important; */
        overflow: visible !important;
        font-size: 12pt;
    }
    div#owner {
        font-size: 11pt;
    }
    div[id^="filterbox_"] {
        display:none !important;
    }
    table, .inline, #wrapper, #container {
        width:auto !important;
    }
    html {
        height:auto !important;
    }
    body {
        height:auto !important;
        overflow: visible !important;
    }
    div#wrapper {
        height:auto !important;
        margin:0;
    }
    div#metanavigation {
        display:none;
    }
    div#logo, div#head-text {
        float: left !important;
    }
    div#logo {
        overflow:hidden !important;
        height:92px !important;
        width:188px !important;
    }
    div#logo img {
        margin-top:-16px;
        margin-left:-16px;
    }
    div#head-image {
        border: 1px solid #fff;
    }
    div#head-text {
        margin-top:54px;
        margin-left:168px;
        position:absolute !important;
    }
    div#footer {
        display:none;
    }
    div#container {
        padding-bottom:0;
        padding:0;
        margin:0;
    }
    div#left-row {
        float:none;
        width: auto;
        display:none; /* herausnehmen fuer Breadcrumb */
    }

   div#middle-row {
        height:100%;
        padding:10px;
        margin:0 10px 10px 0;
        width:auto;
        clear:left;
    }
    div.text {
        overflow: visible !important;
        clear:left;
    }
    .faq_answer {
        display: block !important;
    }
    table, .headline a, form, .inline, #owner-text {
        color:#000000 !important;
    }
    #right-row {
        display: none !important;
    }
    #print_infobox {
        display: block !important;
    }
}


  /* ---------- table of contents ------------------- */

#dw__toc {
  margin: 1.2em 0 0 2em;
  float: right;
  width: 17em;
  font-size: 80%;
  padding-top:35px;
}

#dw__toc h3 {
  border: 1px solid __border__;
  background-color: __background_alt__;
  text-align: left;
  font-weight: bold;
  padding: 3px;
  margin-bottom: 2px;
}

.toggle strong {
    border: 0.4em solid __background_alt__;
    float: right;
    display: block;
    margin: 0.4em 3px 0 0;
}

.toggle span {
    display: none;
}

.toggle.closed strong {
    margin-top: 0.4em;
    border-top: 0.4em solid __text__;
}

.toggle.open strong {
    margin-top: 0;
    border-bottom: 0.4em solid __text__;
}

#dw__toc > div {
  border: 1px solid __border__;
  background-color: __background__;
  text-align: left;
  padding: 0.5em 0 0.7em 0;
}

#dw__toc ul {
  list-style-type: none;
  list-style-image: none;
  line-height: 1.2em;
  padding-left: 1em;
  margin: 0;
}

#dw__toc ul li {
  background: transparent url(images/tocdot2.gif) 0 0.6em no-repeat;
  padding-left: 0.4em;
}

#dw__toc ul li.clear {
  background-image: none;
  padding-left: 0.4em;
}

#dw__toc a:link,
#dw__toc a:visited {
  color: __text__;
}

#dw__toc a:hover,
#dw__toc a:active {
  color: __existing__;
}

/* --------------- Links ------------------ */

a:link,
a:visited {
  color: __existing__;
  text-decoration: none;
}
a:hover,
a:active {
  color: __text__;
  text-decoration: underline;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
a.nolink {
  color: __text_alt__ !important;
  text-decoration: none !important;
}

/* external link */
a.urlextern {
  background: __urlextern_icon__;
  padding: 1px 0px 1px 16px;
}

/* windows share */
a.windows {
  background: transparent url(images/windows.gif) 0px 1px no-repeat;
  padding: 1px 0px 1px 16px;
}

/* interwiki link (icon are set by dokuwiki) */
a.interwiki {
}

/* link to some embedded media */
a.media {
}

a.urlextern:link,
a.windows:link,
a.interwiki:link,
a.urlextern:visited,
a.windows:visited,
a.interwiki:visited {
  color: __extern__;
}
a.urlextern:hover,
a.urlextern:active,
a.windows:hover,
a.windows:active,
a.interwiki:hover,
a.interwiki:active {
  color: __text__;
}

/* existing wikipage */
a.wikilink1 {
  color: __existing__;
}

/* not existing wikipage */
a.wikilink2 {
  color: __missing__;
  text-decoration: none !important;
  border-bottom: dashed 1px __missing__;
}

/* ------------- Page elements ----------------- */

div.preview {
  background-color: __background_other__;
  margin: 0 0 0 2em;
  padding: 4px;
  border: 1px dashed __text__;
}

div.breadcrumbs {
  background-color: __background_neu__;
  color: __text_neu__;
  font-size: 80%;
  padding: 4px 0 0 4px;
  min-height: 2em;
}

span.user {
  color: __text_other__;
  font-size: 90%;
}

li.minor {
  color: __text_neu__;
  font-style: italic;
}

/* embedded images */
img.media {
  margin: 3px;
}

img.medialeft {
  border: 0;
  float: left;
  margin: 0 1.5em 0 0;
}

img.mediaright {
  border: 0;
  float: right;
  margin: 0 0 0 1.5em;
}

img.mediacenter {
  border: 0;
  display: block;
  margin: 0 auto;
}

/* smileys */
img.icon {
  vertical-align: middle;
}

abbr {
  cursor: help;
  border-bottom: 1px dotted __text__;
}


/* indent different sections */
div.level1 {margin-left: 0.1em;}
div.level2 {margin-left: 0.6em;}
div.level3 {margin-left: 1.1em;}
div.level4 {margin-left: 1.6em;}
div.level5 {margin-left: 2.1em;}

/* unordered lists */
ul {
  list-style-type: square;
  list-style-image: none;
  margin: 0 0 0.5em 1.5em;
  color: __text__;
}

/* ordered lists */
ol {
  list-style-image: none;
  margin: 0 0 0.5em 1.5em;
  color: __text__;
  font-weight: bold;
}

/* no bottom gap in between and smaller left margin for nested lists */
li ul,
li ol {
  margin: 0 0 0 1.5em;
}

/* the list items overriding the ul/ol definition */
.li {
  color: __text__;
  font-weight: normal;
  margin-bottom: 0.1em;
}

ol {list-style-type: decimal;}
ol ol {list-style-type: upper-roman;}
ol ol ol {list-style-type: lower-alpha;}
ol ol ol ol {list-style-type: lower-greek;}

li.open {
  list-style-image: url(images/open.gif);
    /*list-style-type: circle;*/
}

li.closed {
  list-style-image: url(images/closed.gif);
    /*list-style-type: disc;*/
}

blockquote {
  border-left: 2px solid __border__;
  padding-left: 3px;
}

pre,
code {
  font-family: monospace, serif;
  /* second generic font fixes problem with font-size, see
     http://meyerweb.com/eric/thoughts/2010/02/12/fixed-monospace-sizing/ */
  font-size: 1em;
}
pre {
  padding: 0.5em;
  border: 1px dashed __border__;
  color: __text__;
  overflow: auto;
}

/* code blocks by indention */
pre.pre {
  background-color: __background_other__;
}

/* code blocks by code tag */
pre.code {
  background-color: __background_other__;
}

/* code blocks by file tag */
pre.file {
  background-color: __background_pre__;
}

/* filenames for file and code blocks */
dl.file,
dl.code {
    margin-top: 2em;
    margin-bottom: 2.5em;
}

dl.file dt,
dl.code dt {
    border: 1px dashed __border__;
    display: inline;
    padding: 0.1em 1em;
    margin-left: 2em;
}

dl.code dt a,
dl.file dt a {
    color: __text_alt__;
    font-weight: bold;
}

dl.code dt {
    background-color: __background_other__;
    border-bottom: 1px solid __background_other__;
}

dl.file dt {
    background-color: __background_pre__;
    border-bottom: 1px solid __background_pre__;
}

/* inline code words */
code {
  font-size: 1em;
}


/* --------- buttons ------------------- */

/* metanavigation integration */
.btn_admin button, 
.btn_profile button, 
.btn_login button, 
.btn_logout button  {
    background:none!important;
    border:none; 
    padding:0!important;
    font: inherit;
    cursor: pointer;
    text-decoration:none;
    text-transform: uppercase;
}

button {
  border: 1px solid __border__;
  color: __text_alt__;
  background-color: __background__;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.8em;
  cursor: pointer;
  margin: 1px;
  padding: 0.125em 0.4em;
}

div.secedit {
  float: right;
  display: inline;
}

/* highlight corresb. section  */
div.section_highlight {
   background-color: #D9EFEC;
}


div.site_tools {
   background-color: #E5E5E5;
   float: right;
   padding-right: 12px;
   padding-left: 4px;
   padding-bottom: 4px;
}

/* hide-plugin integration*/

div.hiddenHead {
    color: #fff;
    background-color: #808080;
    font-weight: bold;
    padding-left: 6px;
    font-size: 100%;
}

div.hiddenGlobal {
    border:  thick none !important;
}

div.hiddenHead {
    font-weight: bold;
}

div.hiddenBody {
    border-top: none;
    padding: 0px;
}

div.hiddenGlobal:not(.hiddenHidden) > div.hiddenHead p::after, 
div.hiddenGlobal.hiddenHidden > div.hiddenHead p::after {
    background-image: none !important;
}

div.hiddenGlobal:not(.hiddenHidden) > div.hiddenHead p::before {
    background-image: url("/lib/plugins/hidden/images/shrink2.png");
}

div.hiddenGlobal.hiddenHidden > div.hiddenHead p::before {
    background-image: url("/lib/plugins/hidden/images/enlarge2.png");
}

div.hiddenHead p::before, 
div.hiddenHead p::before {
    display: inline-block;
    background-size: 1.2em 1.2em;
    width: 1.2em;
    height: 1.2em;
    content: "";
}

/* Translationplugin Integration */
.dokuwiki .plugin_translation {
    display:inline-block;
    text-align:right;
}

.dokuwiki .plugin_translation ul {
    text-align: right;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    background-color: transparent;
    border: none;
}
.dokuwiki .plugin_translation li {
    margin: 0;
    display: inline-block;
    font-size: 85%;
}

.dokuwiki .plugin_translation a {
    color: #4D4D4D;
    display: inline-block;
    min-height: 16px;
}

.dokuwiki .plugin_translation a.wikilink2 {
    visibility: hidden !important;
    width: 0px;
}

.dokuwiki .plugin_translation .li a.wikilink1:before {
    color: #4D4D4D;
    content: " | ";
    padding-left: 3px;
}
/*  */

/* nspages plugin compatibility */
.catpageheadline {
  text-decoration: none !important;
  color: __text_alt__ !important;
  background-color: inherit;
  font-size: 140%;
  font-weight: bold;
  margin: 0.5em 0 0.25em 0;
  padding: 0;
}

/* double column staff member sites */
.dokuwiki .memberimage {
    position:relative;
    float:left;
    width: 200px;
    margin: 40px;
}

.dokuwiki .memberdescription {
    position:relative;
    float:left;
    text-align:left;
    width: 60%;
}
